asttokens==3.0.1
black==26.5.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
decorator==5.3.1
exceptiongroup==1.3.1
executing==2.2.1
flake8==7.3.0
idna==3.18
iniconfig==2.3.0
ipython==8.39.0
jedi==0.20.0
matplotlib-inline==0.2.2
mccabe==0.7.0
mypy-extensions==1.1.0
numpy==2.2.6
packaging==26.2
pandas==2.3.3
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
platformdirs==4.10.0
pluggy==1.6.0
prompt-toolkit==3.0.52
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==24.0.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.20.0
pyodps==0.13.0
pytest==9.1.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2026.2
requests==2.34.2
requests-toolbelt==1.0.0
six==1.17.0
stack-data==0.6.3
tomli==2.4.1
traitlets==5.15.1
typing-extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.8.1
